html, body {
    scroll-behavior: smooth;
    width: 100%;
    -webkit-print-color-adjust: exact !important;
    font-family: 'Roboto', sans-serif !important;
    color: #424949 !important;
}

* {
    outline: none !important;
}

a, a:hover {
    text-decoration: none !important;
}

img {
    pointer-events: none;
}

.row {
    width: 100%;
    margin: auto !important;
}

.main h3 {
    font-weight: 700;
    margin-top: 30px;
}

.main img {
    margin: 20px auto 40px auto;
}

.header{
    background: linear-gradient(to right,#355C7D, #6C5B7B);
    text-align: center;
    padding: 70px;
    color: #D0D3D4;
    font-weight: 300;
}

.header h1{
    /* text-transform: uppercase; */
    color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.main-search {
    /* background-color: #f0f0f0; */
    width: 85%;
    margin: 45px auto;
    position:relative;
}

form.search input[type=text] {
    padding: 8px 8px 8px 20px;
    font-size: 14px;
    border: none;
    float: left;
    width: 90%;
    background: #f1f1f1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    color: grey;
}

form.search button {
    float: left;
    width: 10%;
    padding: 8px 8px 8px 0px;
    background: #f0f0f0;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
}
  
form.search button:hover {
    background: #f0f0f0;
}
  
form.search::after {
    content: "";
    clear: both;
    display: table;
}


.topnav {
    background: linear-gradient(to right,#355C7D, #6C5B7B);
    overflow: hidden;
}
  
.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
    color: #f0f0f0;
    /* font-size: 17px; */
    transition-duration: 0.4s;
    transition: all .2s ease-in-out;
}
  
.topnav a:hover {
    color: #f0f0f0;
    text-decoration: none;
}

.topnav a.active {
    color: #3799C6;
    text-decoration: none;
    font-weight: 700;
    background-color: transparent;
    outline: none;
}
  
.topnav .icon {
    display: none;
}

.overview{
    background-color: #ECF0F1;
    padding: 70px 10px;
}

.grid {
    background-color: #fff;
    margin: 7px 7px 25px 7px;
    padding: 30px;
    border-radius: 7px;
    /* transition-duration: 0.9s; */
    transition: all .3s ease-in-out;
}

.grid:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.123); 
}

.grid p{
    color: grey;
    text-align: justify;
}

.grid i{
    color:#3799C6;
    font-size: 35px;
}

.grid img{
    margin: auto;
    position: relative;
}

.hor-center{
    text-align: center;
}

/* SIDE NAV */
.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom,#355C7D, #6C5B7B);
    overflow-x: hidden;
}
  
.sidenav a, .dropdown-btn {
    padding: 13px 24px;
    text-decoration: none !important;
    color: #f1f1f1;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    margin-left: 0;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.dropdown-btn{
    color: #F0F0F0;
    font-weight: 500;
}

.dropdown-btn:hover, .active {
    background-color: rgba(192, 192, 192, 0.10);
    outline: none !important;
}
  
.dropdown-container a {
    padding: 7px 10px 7px 35px;
    color: #CFD8DC;
    font-size: 13px;
    outline: none !important;
}

.dropdown-container a:hover {
    color: #fff !important;
    outline: none !important;
}

.dropdown-container {
    display: none;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* scrollbar */
.sidenav::-webkit-scrollbar {
    width: 8px;
}
  
.sidenav::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
.sidenav::-webkit-scrollbar-thumb {
    background: silver;  
}

code::-webkit-scrollbar {
    /* width: 2px; */
    height: 8px;
}
  
code::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
code::-webkit-scrollbar-thumb {
    background: silver;  
}



.main {
    margin-left: 260px;
    padding: 0px 20px;
}

.breadcrumb {
    background-color: #fff !important;
    border-bottom: 1px solid #ECF0F1;
    padding: 15px 20px !important;
    /* text-transform: uppercase; */
    /* font-weight: 700; */
    color: #424949;
}

.breadcrumb a{
    text-decoration: none;
    color: #424949;
}

ul.breadcrumb {
    /* padding: 10px 16px; */
    list-style: none;
    background-color: #eee;
  }
  
  /* Display list items side by side */
ul.breadcrumb li {
    display: inline;
}
  
  /* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
  
/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #3799C6;
}

li.current {
    color:#3799C6;
    font-weight: 700;
}

.subheader {
    border-bottom: 1px solid #ECF0F1;
    padding: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.subheader h1 {
    font-weight: 700;
    /* background: linear-gradient(to right, #355C7D,#6C5B7B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.subheader p{
    color: grey;
    text-align: center !important;
}

.content {
    padding: 7px 30px;
    margin-bottom: 80px;
    /* width: 85%; */
}

.content h2 {
    color:#3799C6;
    margin-top: 35px;
}

.content p {
    text-align: justify;
}

.submenu {
    background-color: #ECF0F1;
    padding: 20px 15px;
    list-style: none;
    border-radius: 3px;
}

.submenu i{
    color: #D0D3D4;
}

.submenu li {
    line-height: 25px;
}

.bold {
    font-weight: 700;
}

.notes {
    /* width: 90%; */
    margin: 40px auto;
    background-color: #ECF0F1;
    border-radius: 5px;
    text-align: justify;
    padding: 20px;
}

.notes h4 {
    font-weight: 700;
}

.notes i {
    font-size: 30px;
    /* line-height: 70px; */
}

.code {
    font-family: Consolas;
    font-size: 13px;
    background-color: #f3f3f3;
    color: #ef476f;
    border-radius: 3px;
    padding: 2px;
    white-space: nowrap;
}

pre code{
    margin: 15px 0px 20px 0px;
    border-radius: 5px !important;
    border: 1px solid #ECF0F1;
    
}

.table {
    margin: 10px auto 30px auto;
    width: 90%;
}

.caption {
    color: #979A9A;
    font-style: italic;
    font-size: 12px;
    /* text-align: right !important; */
    margin: 0px auto !important;
}

.color-code{
    font-family: Consolas;
    border-radius: 2px;
}



@media screen and (min-width: 600px) {
    .content {
        width: 85%;
    }
    .notes i {
        line-height: 50px;
    }

}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 700px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .dropdown-btn a, .sidenava {
        float: left;
    }

    div.main {
        margin-left: 0;
    }
}
  
@media screen and (max-width: 400px) {
    .dropdown-btn a, .sidenav a {
      /* text-align: center; */
      float: none;
    }
}


